# Konfiguracja Bazy Danych
DB_HOST=mysql8
DB_USER=40197642_descloud
DB_PASS=
DB_NAME=40197642_descloud
DB_CHARSET=utf8mb4

# Klucz szyfrowania
ENCRYPTION_KEY=

# Ustawienia aplikacji
APP_URL=https://des.descloud.pl
APP_NAME=descloud

# Tryb deweloperski
DEV_MODE=true

# Dane mailera
MAILER_HOST=localhost
MAILER_USER=noreply@descloud.pl
MAILER_PASS=
